.reviews{
    background-color: var(--light-bg);
}

.reviews .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.reviews .box-container .box{
    background-color: var(--white);
    text-align: center;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
}

.reviews .box-container .box img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}

.reviews .box-container .box p{
    padding: 2rem 0;
    line-height: 2;
    font-size: 1.5rem;
    color: var(--light-color);
    margin-bottom: 0;
}

.reviews .box-container .box .stars{
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    background-color: var(--light-bg);
    margin-top: 2rem;
    display: inline-block;
}

.reviews .box-container .box .stars{
    font-size: 1.5rem;
    color: var(--blue);
}

.reviews .box-container .box h3{
    font-size: 2rem;
    color: var(--black);
}

.reviews .box-container .box span{
    color: var(--light-color);
    font-size: 1.5rem;
}


















/* media quaries */

@media (max-width:991px){
    html{
        font-size: 55%;
    }

    .header .link-btn{
        display: none;
    }

    section{
        padding:5rem 2rem;
    
    }
}

@media(max-width: 768px){

    section{
        padding:3rem 1rem;
    
    }

    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .header .nav{
        position: absolute;
        top:99%;
        left: 0;
        right: 0;
        background-color: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        padding: 1rem 0;
        text-align: center;
        flex-flow: column;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }

    .header .nav.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .nav a{
        margin: 1rem 0;
        font-size: 2rem;
    }

    .home{
        background-position: left;
    }

    .home .content{
        width: auto;
    }

    
}

@media(max-width: 450px){

    html{
        font-size: 50%;
    }

    .home .content h3{
        font-size: 4rem;
    }

    .heading{
        font-size: 3rem;
    }
}